* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    background-color: #7a7a7a;
}

section {
    flex: 70%;
    text-align: center;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.descripcion {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}

.contenedor-Contactos {
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 1.5em;
    background-color: white;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);;
    border-radius: 0.5em;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

input {
    border: none;
    margin: 10px;
    height: 50px;
    width: 50%;
    border-radius: 0.30em;
}

textarea {
    margin: 20px;
    border-radius: 0.30em;
    width: 50%;
}

footer nav{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}