* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    background: #7a7a7a;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contenedor {
    display: flex;
    flex-direction: column;
    width: 30rem;
    max-width: 80%;
    margin: 50px;
    border-radius: 0.5em;
    padding: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

img {
    width: 40%;
    border-radius: 10rem;
}

.imagen {
    text-align: center;
}

label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.cont-boton {
    text-align: center;
}

button {
    width: 50%;
    height: 2rem;
    color: white;
    border-radius: 0.25rem;
    background-color: black;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}