* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    background: #7a7a7a;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
    margin: 50px;
    border-radius: 0.5em;
    padding: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

input {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

textarea {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.cont-acciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-acciones button {
    width: 15%;
    height: 2rem;
    margin: 0.5rem;
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.contenedor-productos label{
    margin: 2rem;
    font-weight: bolder;
}

.contenedor-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.contenedor-lista label{
    margin: 2rem;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

td {
    text-align: center;
}