* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    background: #7a7a7a;
}

section {
    flex: 70%;
    background-color:white;
    text-align: center;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.descripcion {
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}