* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    background-color: #7a7a7a;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 300px;
    border-radius: 0.5em 0.5em 0 0;
}
.producto:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
	transform: scale(1.03,1.03);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.producto {
    display: flex;
    background: white;
    text-align: center;
    border-radius: 0.5em;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
}

button {
    height: 2em;
    width: 50%;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

footer nav{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

h2 {
    text-align: center;
}